.App {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2gOp_o0HxgwsnD2iyj3XXC2eFq5Q8KyYD6A&usqp=CAU");

  /* Full height */
  /* height: 100%;  */

  /* Center and scale the image nicely */
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover, contain;
  height: 960px;
}

.bgc {
  background-color: #00000059;
}